#p1{
    color:red;
    background-color:lime; 
} 
#p2{ 
    color:cyan; 
    background-color:red; 
} 
#p3{
    color:blue;
    background-color:magenta;
}
#p4{
    color:yellow;
    background-color:gray; 
} 
#p5{ 
    color:magenta; 
    background-color:yellow; 
} 
